 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: url("/apod/img/background.jpg") center no-repeat;
    background-size: cover;
}

.contentMain{
    display: flex;
    flex-direction: column;
    
}

.content{  
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.contentHeader{
    justify-content: space-around;
    background-color: rgba(51, 51, 51, 0);
    width: 100vw;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.logo img{
    width: 5rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    gap: 2rem;
}

.link{
    text-decoration: none;
    color: white;
}

.link ion-icon{
    font-size: 2rem;
    transition: 0.5s;
}

.links > :nth-child(1) ion-icon:hover{
    color: rgb(0, 148, 254);
}

.links > :nth-child(2) ion-icon:hover{
    color: rgb(79, 79, 79);
}

.text {
    display: none;
    background-color: #0000005b;
    border: 1px dashed white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4rem;
    position: absolute;
    top: 3.8rem;
  }

  nav ul li:hover .text {
    display: block;
    opacity: 1;
  }

.contentHome{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 10rem 4rem;
}

.image img{
    width: 40rem;
}

p{
    line-height: 2rem;
}

.infos h1{
    font-size: 3rem;
}

.infos h2{
    font-size: 2rem;
}

@media screen and (max-width: 1075px){

    /*==================APOD MEDIA==================*/

    .contentHome{
        flex-direction: column;
    }

    .image img{
        width: 20rem;
    }

    /*==============================================*/
    
}
