<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home/style.css">
    <link rel="stylesheet" type="text/css" href="media.css">
    <link rel="icon" href="home/img/nasa-logo.svg">
    <title>AppNasa</title>
</head>
    <body> 
        <div class="contentMain">
            <header>
                <div class="content contentHeader">
                    <a class="logo" href="/"><img src="home/img/nasa-logo.svg"></a>

                    <nav>
                        <ul>
                            <li><a href="/apod">APOD</a> <span class="text">Astronomical photo of the Day!</span> </li>
                            <li><a href="/mrp">ACTUAL LOCATION OF THE ISS</a> <span class="text">See the actual location of the ISS</span> </li>
                            <li><a href="/epic">EPIC</a> <span class="text">Earth's polychromatic camera!</span> </li>
                        </ul>
                    </nav>

                    <div class="links">
                        <a class="link" href="https://linkedin.com/in/joão-paulo-medeiros-rocha-75445820b"><ion-icon name="logo-linkedin"></ion-icon></a>
                        <a class="link" href="https://github.com/rochajpp"><ion-icon name="logo-github"></ion-icon></a>
                    </div>
                </div>
            </header>

            <section>
                <div class="content contentHome">
                    <h1>Welcome to NASA Application</h1>
                    <h2>Start the exploring the universe</h2>
                    <a href="https://www.nasa.gov" target="_blank"><button>Nasa.gov</button></a>
                    <p>Acess nasa.gov with the button above for more</p>
                </div>
            </section>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <script src="home/script.js"></script>
    </body>
</html>