<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/mrp/style.css">
    <link rel="icon" href="/mrp/img/nasa-logo.svg">
    <title>Actual Location Of The ISS</title>
</head>
<body>
    <div class="contentMain">
        <header>
            <div class="content contentHeader">
                <a class="logo" href="/"><img src="/mrp/img/nasa-logo.svg"></a>

                <nav>
                    <ul>
                        <li><a href="/apod">APOD</a> <span class="text">Astronomical photo of the Day!</span> </li>
                        <li style="padding: 0.5rem 1rem; background-color: rgba(255, 255, 255, 0.322); border-radius: 1rem;"><a href="/mrp">ACTUAL LOCATION OF THE ISS</a> </li>
                        <li><a href="/epic">EPIC</a> <span class="text">Earth's polychromatic camera!</span> </li>
                    </ul>
                </nav>

                <div class="links">
                    <a class="link" href="https://linkedin.com/in/joão-paulo-medeiros-rocha-75445820b"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a class="link" href="https://github.com/rochajpp"><ion-icon name="logo-github"></ion-icon></a>
                </div>
            </div>
        </header>

        <section>
            <div class="content contentHome">
                <button onclick="refresh()">Click To Update Location</button>
                <div class="infoPosition">
                    <strong>Latitude:</strong> <p id="lat"><%= coord.latitude %></p>
                    <strong>Longitude:</strong><p id="long"><%= coord.longitude %></p>
                </div>

                <div id="map"></div>
            </div>
        </section>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/mrp/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa5q-jmH3lTRSa9rsXWzDGGhWnM9JQjeY&callback=initMap"></script>
</body>
</html>